@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir.eot");
    src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Vazir.woff2") format("woff2"),
      url("../fonts/Vazir.woff") format("woff"),
      url("../fonts/Vazir.ttf") format("truetype");
  
  }
  @font-face{
      font-family: "Btitr";
      src:url(../fonts/BTITRBD.eot) format('eot'),
      url(../fonts/BTITRBD.woff) format('woff'),
      url(../fonts/BTITRBD.ttf) format('truetype');
  }
  @font-face{
      font-family: "Bkoodak";
      src:url(../fonts/BKOODB.eot) format('eot'),
          url(../fonts/BKOODB.woff) format('woff'),
          url(../fonts/BKOODB.ttf) format('truetype');
  }
  @font-face {
    font-family: "IRANSansWeb";
    src: url(../fonts/IRANSansWeb.eot) format('eot'),
       url(../fonts/IRANSansWeb.woff) format("woff"),   
       url(../fonts/IRANSansWeb.ttf) format("ttf");
  
}
  body {
  
    text-align: right !important;
    line-height: 1.6;
    background: rgb(252 254 255);

  }
  *{
    padding: 0;
    margin: 0;
  }
.Heading {
    background-color: #01537e;
    border: 1px solid #C9C917;
    border-radius:15px;
}
.Heading a{
  color: white;
  font-family: "Vazir";
}
.Heading a:hover{
  text-decoration: none;
  color: white;
}
.meetings{
  font-family: "Btitr";
  color: white;
  font-size:15px;
}
.meetings:hover{
  text-decoration: none;
  color: white;

}
.Online-class{
  font-family: "Btitr";
  color: white;
  font-size:15px;
}
.Online-class:hover{
  font-family: "Vazir";
  font-size:15px;
  
}
.Heading-meetings{
  background-color: rgb(0 53 97);
}
.Online-class-box:hover{
  background-color: rgb(19, 0, 128);
}
.Online-class-box:hover{
  background-color: green;
  transition: .5ms;
}
.Attention{
  font-family: "Vazir";
  font-size: small;
  font-weight: bold;
}
.main{
  height: 100%;
  background-color:#adb5bd;
  border-radius:20px;
}
.main1{
  background-color: #dae0e5;
  border-radius:50px;
}
.card{
  background-color:transparent;
  border: none;
}
.img{
  width:50%;
 
  border-radius: 15px;
}
.description{
 
  border-radius:15px;
}
.card-header{
  background: transparent;
}
.card-footer{
  background: transparent;
}
.Description{
  font-family: "Vazir";
  color: black;
  font-size: small;
  font-weight: bold;
}
h5{
  font-size: small;
  font-family: "Btitr";
  color: black;
}
.modal-content{
 border-radius: 5px;
 font-family: "Vazir";
 color: black;
 font-weight: bold;
 background-color: #e0f7ffe8;
}
#button-email{
  background-color:#C9C917;
  border-radius:15px;
  border: 1px solid #C9C917;
}
#button-email:hover{
  background-color:#a3a304;
  border-radius:15px;
  border: 1px solid #C9C917;
}
.form-group input{
    border-radius: 10px;

}
.modal-title label {
  font-family: "Vazir";
}
.text-footer{
  font-family: "Vazir";
}
.footer-img{
  width: 2em;
  height: 2em;
}
.footer-img:hover{
box-shadow: 1px 1px 3px 1px #db7b76;
border-radius:30%;
}

.darker {
  border-color: #ccc;
  background-color: rgb(221, 221, 221);
  border-radius: 10px;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
.Your-talk{
  margin-right:10%;
  width: 80%;
  border-radius: 15px;
  border: 3px solid #003a6699;
  background: #37a2a714;
}
.talk-text{
  font-family: "Vazir";
  font-size: medium;
  font-weight: 900;
}
button>a{
  text-decoration: none;
}
@media (max-width: 991px) {

 .main1{
  
  border-radius:90px;
}
.video{
    width: 80%;
    height: 80%;
    border-radius: 20px;
 
   }
   audio{
    width: 80%;
    height: 80%;
    border-radius: 20px;
  }
}