@import url("//db.onlinewebfonts.com/c/5c53f1a72f61b5b51e2ea79a22ebc38b?family=IRANSansWeb(FaNum)");
@font-face {
  font-family: "IRANSansWeb(FaNum)";
   src: url("//db.onlinewebfonts.com/t/5c53f1a72f61b5b51e2ea79a22ebc38b.eot"); 
   src: url("//db.onlinewebfonts.com/t/5c53f1a72f61b5b51e2ea79a22ebc38b.eot?#iefix") format("embedded-opentype"),
   url("//db.onlinewebfonts.com/t/5c53f1a72f61b5b51e2ea79a22ebc38b.woff2") format("woff2"), 
   url("//db.onlinewebfonts.com/t/5c53f1a72f61b5b51e2ea79a22ebc38b.woff") format("woff"),
   url("//db.onlinewebfonts.com/t/5c53f1a72f61b5b51e2ea79a22ebc38b.ttf") format("truetype"),
   url("//db.onlinewebfonts.com/t/5c53f1a72f61b5b51e2ea79a22ebc38b.svg#IRANSansWeb(FaNum)") format("svg"); }

  body {
    text-align: right !important;
    line-height: 1.6;
    background: rgb(217, 217, 217);
    font-family: "IRANSansWeb(FaNum)" !important;
  }
  *{
    padding: 0;
    margin: 0;
  }
.Heading {
    background-color: #01537e;
    border: 1px solid #C9C917;
    border-radius:15px;
}
.Heading:hover{
  box-shadow: 2px 2px 2px black;
}
.Heading a{
  color: white;
}
.Heading a:hover{
  text-decoration: none;
  color: rgb(196, 248, 196);
  
}
.meetings{
 
  color: white;
  font-size:15px;
}
.meetings:hover{
  text-decoration: none;
  color: white;

}
.Online-class{
    color: white;
  font-size:15px;
}
.Online-class:hover{
  font-size:15px;
  
}
.Heading-meetings{
  background-color: rgb(0 53 97);
}

.Online-class-box:hover{
  background-color: rgb(19, 0, 128);
}
.Online-class-box:hover{
  background-color: green;
  transition: .5ms;
}
.Attention{
  font-size: small;
  font-weight: bold;
}
.main{
  height: 100%;
  background-color:#adb5bd;
  border-radius:20px;
}
.main1{
  background-color: #dae0e5;
  border-radius:50px;
  box-shadow: 4px 4px 4px black;
}
.main1:hover{
  box-shadow: 9px 7px 7px black;
}
.card{
  background-color:transparent;
  border: none;
  
}
.img{
  width:50%;
 
  border-radius: 15px;
}
.description{
 
  border-radius:15px;
}
.card-header{
  background: transparent;
}
.card-footer{
  background: transparent;
}
.Description{
 
  color: black;
  font-size: small;
 
}
h5{
  font-size: small;
  color: black;
}
.modal-box{
 border-radius: 5px;
 color: black;
 font-weight: bold;
 background-color: #e0f7ffe8;
}
#button-email{
  background-color:#C9C917;
  border-radius:15px;
  border: 1px solid #C9C917;
  box-shadow: 6px 5px 3px black;
}
#button-email:hover{
  background-color:#a3a304;
  border-radius:15px;
  border: 1px solid #C9C917;
}
.form-group input{
    border-radius: 10px;

}
.footer-img{
  width: 2em;
  height: 2em;
}
.footer-img:hover{
box-shadow: 1px 1px 3px 1px #db7b76;
border-radius:30%;
}

.darker {
  border-color: #ccc;
  background-color: rgb(221, 221, 221);
  border-radius: 10px;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
.Your-talk{
  margin-right:10%;
  width: 80%;
  border-radius: 15px;
  border: 2px solid;
  background: #37a2a714;
 
}
.your-talks{
  border: 2px solid;
  border-radius: 20px;
  box-shadow: 4px 4px 2px black;
  background: aliceblue;
}
.talk-text{
  font-size: medium;
  font-weight: 900;
}
.text-muted {
  color: #00080f !important;
}
button>a{
  text-decoration: none;
}

@media (max-width: 991px) {

 .main1{
  box-shadow: 6px 5px 3px black;
  border-radius:90px;
}
.main1:hover{
  box-shadow: 9px 7px 7px black;
}
.video{
    width: 80%;
    height: 80%;
    border-radius: 20px;
 
   }
   audio{
    width: 80%;
    height: 80%;
    border-radius: 20px;
  }
}