<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href={% static "css/bootstrap.min.css" %} />
        <link rel="stylesheet" href={% static "css/all.css" %} /> 
        <link rel="stylesheet" href={% static "./css/styles.css" %} />
        <link rel="stylesheet" href={% static "./css/other-styles.css" %} />
        <script src={% static "js/jquery-3.5.1.js" %}></script>
        <script src={% static "js/popper.min.js" %}></script>
        <script src={% static "js/bootstrap.min.js"%}></script>
        <script src={% static "./js/script.js"%}></script>
        <link href={% static "./img/logo.png"%} rel="shortcut icon" />
        <title>حرف ناشناس</title>
    </head>
    <body>
         
        <section>
               
                  
                <div class="modal-dialog">
                    {% for message in messages %}
                  
                    <div class="container-fluid  ">
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >                                                 
                                               
                            <div class="alert-message text-center message-{{ message.tags }} px-3 pb-3  mr-3">                  
                                    <br/>
                                    {{ message }}
                            </div>  
                                              
                        </div>
                    </div>
                  {% endfor %}
                    <div class="modal-content modal-box-chat">
                        <div class="col" >
                       
                            <div class="row mt-4 items-chat-style mx-4 info-box-profile ">
                            <div class="col-3 text-center">
                                <img class="profile-img my-2" src=/static/img/hajAgha.png alt="profile"  />
                            </div>  
                            <div class="col">
                                <div class="row">
                                <p class="title-Haj-Agha">حاج آقا راضی
                                    <br/><span class="title-online mb-2">online</span>
                                </p>   
                            
                                </div>  
                            </div>
                            <div class="col" lang="ENG">
                                <p class="title-clock" >00:00</p>
                            </div>                       
                                                
                            </div>
                            <div class="row">
                                <div class="col mt-4 items-chat-style item-box-delgooye" >
                                <div class="row">
                                    <div class="col">
                                    <img class="delgooyeh-img text-center mt-1" src=/static/img/delgooyeh.png alt=""  />
                                    
                                    </div>                                                                                        
                                </div>
                                <div class="col ">
                                    <p class="delgooyeh-text mt-1">هر چه میخواهد دل تنگت بگو</p>
                                </div>
                                <div class="col">
                                    <p class="delgooyeh-talk " > 
                                        هر حرفی و سوالی رو که میخوای به حاج آقا بگی رو بنویس
                                        
                                        و بدون اینکه شناخته بشی واسش بفرست
                                    </p>
                                </div>
                                </div>
                            </div>
                            <div class="Text">
                            <form action="{% url 'send-anonymous-message' %}" method="POST">                                                                     
                                {% csrf_token %} 
                                <div class="form-group form-chat mt-2" >               
                                    <textarea  type="text" id="message" name="talk" class="p-3 textarea-chat form-control-1 items-chat-style mx-2 " placeholder="پیام خودتو بنویس " ></textarea>
                                </div>
                                <div class="col mb-2 buttons-chat ">
                                    <button id="button" class=" mr-1 ml-1  py-2 message-button" type="submit">
                                        ارسال پیام
                                    </button>
                                    <a  class=" mr-1 ml-2 px-4 py-2  answer-button  " href="{% url 'see-answer' %}">
                                        مشاهده پاسخ
                                    </a>
                                </div>        
                                </form>
                            </div>
                        </div>   
                        <div class="Text">                                                                                                                    
                            <div class="col mb-2 delgooyeh-footer">
                            <p class="title-chat-maaah2">موسسه فرهنگی هنری ماه</p>   
                                                            
                            <a href="https://eitaa.com/noore_maaah" class="eita-aydi mb-1">                                      
                                noore_maaah@
                                <img class="img-eata-chat" src=/static/img/eita-chat.png alt="ایتا">
                            </a>
                        
                            </div>                                          
                        </div>                                                             
                    </div>
                </div>  
            </div>
        </section>
        <!--footer-->
        <section class="section">
        <footer class="mt-5">
            <div class="col">
            <div class="row">
                
                <p class="sokhan-rahbar col-sm-4 text-white text-footer text-center mt-5">
                    حضرت امام خامنه ای(مدضله العالی):
                    <br/>
                        عرصه فرهنگی،عرصه جهاد است
                        <br/>
                        لذا کسانی که در عرصه فرهنگی حضور داشته
                        <br/>
                        و مدیریت می نمایند باید حق جهاد را به جا آورند.
                </p>
                    
                <div class="col col-sm-4" id="Connection-Month">
                    <div  id="links" class="p-2 text-center" >
                        <h3 class="text-white text-footer  mt-5">ما را در شبکه های اجتماعی دنبال کنید.</h3>
                        <div class="d-flex justify-content-center mt-3">
                        <div class="p-2">
                            <a href={{home_page_information.eitaa}}><img class="footer-img" src={% static "./img/eita.png" %} alt="ایتا"></a>
                            </div>
                            <div class="p-2">
                            <a href={{home_page_information.telegram}}><img class="footer-img" src={% static "./img/telegram.png" %} alt="تلگرام"></a>
                            </div>
                            
                            <div class="p-2">
                            <a href={{home_page_information.instagram}}><img class="footer-img" src={% static "./img/insta.png" %} alt="اینستاگرام"></i></a>
                            </div>                  
                        </div>
                    </div>
                </div> 
                <div class="col col-sm-4 text-white text-footer text-center  mt-5 ">
                    <h5 class="text-white">
                        ارتباط با ما:
                    </h5>
                    <p>
                    {{home_page_information.phone_number}}
                    </p>
                    <p>در تلگرام و ایتا :<br/>r-o-mah@</p>
                </div>
            
            </div>
            </div> 

        </footer>
        </section>
    </body>
</html>