    {% extends 'base.html'%}
    {% block main%}
        <section>
            <div class=" text-muted ">
                <div class="modal-dialog">
                    <div class="modal-content modal-box-chat">
                        <div class="col" >
                            <div class="row mt-4 items-chat-style mx-4 info-box-profile ">
                            <div class="col-3 text-center">
                                <img class="profile-img my-2" src=/static/img/hajAgha.png alt=""  />
                            </div>  
                            <div class="col">
                                <div class="row">
                                <p class="title-Haj-Agha">حاج آقا راضی
                                    <br/><span class="title-online mb-2">online</span>
                                </p>   
                            
                                </div>  
                            </div>
                            <div class="col" lang="ENG">
                                <p class="title-clock" >00:00</p>
                            </div>                       
                                                
                            </div>
                            <div class="row">
                                <div class="col mt-4 items-chat-style item-box-delgooye" >
                                <div class="row">
                                    <div class="col">
                                    <img class="delgooyeh-img text-center" src=/static/img/delgooyeh.png alt=""  />
                                    
                                    </div>                                                                                        
                                </div>
                                <div class="col ">
                                    <p class="delgooyeh-text mt-4">هر چه میخواهد دل تنگت بگو</p>
                                </div>
                                <div class="col">
                                    <p class="delgooyeh-talk " > 
                                        هر حرفی و سوالی رو که میخوای به حاج آقا بگی رو بنویس
                                        
                                        و بدون اینکه شناخته بشی واسش بفرست
                                    </p>
                                </div>
                                </div>
                            </div>
                            <div class="Text">
                            <form action="{% url 'send-anonymous-message' %}" method="POST">                                                                     
                                {% csrf_token %} 
                                <div class="form-group form-chat mt-4" >               
                                    <textarea  type="text" id="message" name="talk" class="p-3 textarea-chat form-control-1 items-chat-style mx-2 " placeholder="پیام خودتو بنویس " ></textarea>
                                </div>
                                <div class="col mb-2 buttons-chat ">
                                    <button id="button" class=" mr-1 ml-1  py-2 message-button" type="submit">
                                        ارسال پیام
                                    </button>
                                    <a  class=" mr-1 ml-2 px-4 py-2  answer-button  " href="{% url 'see-answer' %}">
                                        مشاهده پاسخ
                                    </a>
                                </div>        
                                </form>
                            </div>
                        </div>   
                        <div class="Text">                                                                                                                    
                            <div class="col mb-2 delgooyeh-footer">
                            <p class="title-chat-maaah2">موسسه فرهنگی هنری ماه</p>   
                                                            
                            <a href="https://eitaa.com/noore_maaah" class="eita-aydi mb-1">                                      
                                noore_maaah@
                                <img class="img-eata-chat" src=/static/img/eita-chat.png alt="ایتا">
                            </a>
                        
                            </div>                                          
                        </div>                                                             
                    </div>
                </div>  
            </div>
        </section>

    {% endblock %}