        {% extends 'base.html'%}
        {% block main%}
         <!---->
         <div class="col">
            <section class="section" style="height:100%;">
            <div class="container-fluid">
              <div class="row">
                  <!--جلسات-->
                  <div class="col-md-3 Styles my-5 mx-3 ">              
                    <div class="row mt-1">
                      <div class="col">
                        <div  class="col text-center mb-1 p-2 Heading Heading-meetings ">
                          <a class="meetings "> جلسات</a>
                        </div>
                      </div>
                    </div>
                    {% for session in sessions %}
                      <div class="row mt-3 mb-1 mx-2">
                        <div  class="col text-center mb-1 p-2 Heading ">
                          <a  href="#" >{{sessionظ.title}}</a>
                        </div>
                      </div> 
                    {% endfor %}
                    <div class="row mt-1 pt-3">
                      <div class="col">
                        <div  class="col text-center mb-1 py-2 Heading Heading-meetings Online-class-box ">
                          <a class="Online-class" href="#"> ورود به جلسه آنلاین</a>
                        </div>
                      </div>
                    </div>                                     
                  </div>
                  <!--end-->

                    <!-- -->
                <div class="col-md-8 main pb-2 mt-5" >
                  {% for session in sessions %}
                    <div class="row main1 mt-3 pt-2 pb-2 mx-2 text-center justify-content-around mr-auto">
                        <div class="col card ">
                          <div class="card-header text-white">
                            <h5>{{session.title}}  </h5>
                          </div>
                          {% if session.img %}
                            <div class="card-body ">
                              <img class="img" src={{session.img.url}} alt="image">
                            </div>
                          {% endif %}
                          {% if session.video %}
                            <div class="card-body ">
                              <video controls  class="video">
                                <source src={{session.video.url}} type="video/mp4">
                              </video>
                            </div>
                          {% endif %}
                          {% if session.voice %}
                            <div class="card-body ">
                              <audio controls  >
                                <source src={{session.voice.url}} type="audio/mp4">
                              </audio>
                            </div>
                          {% endif %}
                          <div class="card-footer text-white">
                            <p class="Description">{{session.description}}</p>
                          </div>
                        </div>
                    </div>
                  {% endfor %}
                    <!--end-->
              </div>

          </div>
            </section>
         </div>
           
        {% endblock %}
