
        {% extends 'base.html'%}
        {% block main%}
        <div class="col">
          <section class="section">
            <div  class=" container-fluidmt-3  mt-3 p-3 Your-talk ">
              <div class="col  ">
                <h4  class="text-center mt-4 image-report py-3">صحبت های شما</h4>
                {% for talk in talks %}
                  <div class="container mt-4 p-3 your-talks ">
                  <h5 >{{talk.name}}</h5>
                    <p class="talk-text"> 
                    {{talk.talk}}
                      </p>
                    <span class="time-right talk-text">{{talk.date}} </span>
                    <br>
                    {% if talk.reply %}
                    <div class="container darker mt-4 p-3">
                      <h5>{{talk.reply.name}}</h5>
                      <p class="talk-text"> 
                        {{talk.reply.talk}}
                      </p >
                      <span class="time-right talk-text">{{talk.reply.date}}</span>
                    </div>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
              </div>
            </div>
          </section>
        </div>
       
        {% endblock %}
    